.main {
    background-color: white;
    padding-bottom: 113px;

    .btn {
        padding: 21px 48px;
    }
    .btn-info {
        padding: 21px 62px;
        margin-left: 28px;
    }

    .buttons {
        padding: 55px 0;
    }

    .title {
        background-color: white;
        padding: 20px 141px 40px 141px;
        color: #484d55;
    }

    img {
        margin: 112px 0 100px 0;
        width: 100%;
    }

    h2 {
        padding: 6px 0 15px 0;
    }

    h4 {
        padding: 25px 0;
    }
}