.nav {

    .dropotron {
        background-color: wheat;
        border-radius: 5px;
        min-width: 216px;
        text-align: left;
        padding: 0 15px;
    }

    ul {
        user-select: none;
        list-style: none;
        display: none;

        li {
            text-transform: uppercase;
            white-space: nowrap;
            padding: 7px 0px 7px 0;
            border-bottom: 1px solid;
            border-color: rgba(255, 255, 255, 0.25);

        }
    }
}