@media screen and (max-width: $sm-width) {
    .gallery {

        .title {
            padding: 8px 27px 30px 27px;
        }
    
        .wrap {
            padding: 41px 60px 55px 60px;
        }
    
        .inner {
            width: 100%;
            padding-bottom: 31px;
    
            .caption {
                padding: 12px 0 7px 0;    
            }
    
            p {
                padding-bottom: 29px;
            }
    
            .btn {
                font-size: 14px;
                letter-spacing: 3.3px;
                padding: 11px 0;
            }
        }
    }
}