@media screen and (max-width: $lg-width) {
    
    body {
        font-size: 12pt;
    }

    .container {
        width: calc(100% - 100px);
    }

    h2 {
        letter-spacing: 2.2px;
        font-size: 29.3333px;
    }

    h4 {
        font-size: 19.0667px;
        letter-spacing: 1.43px;
        line-height: 28.6px;
        color: #b1b4b9;
    }

    .title {
        top: -44px;
        font-size: 13.2px;
        letter-spacing: 3.3px;
        padding: 13px 80px 40px 80px;
    }

    h3 {
        font-size: 18.3333px;
        letter-spacing: 1.375px;
        padding: 112px 0 50px 0;
    }

    .caption {
        font-size: 16.8667px;
        letter-spacing: 0.843333px;
    }

    p {
        font-size: 14.6667px;
        letter-spacing: 0.22px;
        line-height: 22px;
    }
}