@media screen and (max-width: $md-width) {
    .footer {

        .title {
            padding: 12px 98px 40px 98px;
        }
    
        h2 {
            padding: 109px 0 28px 0;
        }
    
        h4 {
            padding-bottom: 59px;

            br {
                display: none;
            }
        }
    
        .btn {
            padding: 10px 57px;
            font-size: 13.2px;
            letter-spacing: 3.3px;
        }
    
        .btn-reset {
            margin-left: 22px;
            padding: 9px 52px;
        }

        .buttons {
            text-align: center;
        }
    }
    
    .feedback {
        padding: 25px 0 0 0;
        flex-direction: column;
    
        .form, textarea {
            padding-bottom: 25px;
        }

        .form-group, .contacts {
            width: 100%;
        }
    
        .form-group {
            padding-right: 0;
            padding-top: 32px;
            padding-bottom: 61px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    
            input, textarea {
    
                &::placeholder {
                    font-size: 14.6667px;
                    letter-spacing: 0.22px;
                }
            }
    
            input {
                width: 48.5%;
                padding: 13px 16px 12px 16px;
            }
    
            textarea {
                height: 117px;
                padding: 11px 16px 11px 16px;
            }
        }
    
        .contacts {
            padding-left: 0;
        }
    
        .address,
        .social,
        .email,
        .phone {
            width: 47%;
            padding: 48px 0 49px 51px;
    
            p {
                padding: 8px 0 0 0;
            }
    
            i {
                font-size: 13.4933px;
                width: 35px;
                height: 35px;
                top: 45px;
                left: -1px;
            }
        }
    }
    
    .copyring {
        padding: 57px 0 86px 0;
    
        ul {
            padding: 4px 13px;
    
            li {
                font-size: 13.2px;
                letter-spacing: 0.22px;
                padding: 0 13px;
            }
        }
    }
}