@media screen and (max-width: $md-width) {
    .info {
        padding: 8px 0 0 0;
        max-width: 620px;
        width: calc(100% - 0px);
    }
    
    .mini-posts {
        padding: 0;
        flex-direction: column;
    
        .mini-post {
            padding: 45px 0 45px 90px;
    
            i {
                font-size: 21.0833px;
                width: 54px;
                height: 54px;
                top: 38px;
                left: 16px;
            }
    
            p {
                padding: 8px 18px 8px 0;
            }
        }
    }
}